@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #7f3d9e;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6d00d9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden;
  overscroll-behavior: none;
}
